<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="FreeCRM Test Automation Suite" verbose="1" >
  <listeners>
	<listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG" />
  </listeners>
  <test name="CRM Feature Test" >
    <classes>
       <class name="com.crm.qa.testcases.LoginPageTest" />
       <class name="com.crm.qa.testcases.HomePageTest" />
       <class name="com.crm.qa.testcases.ContactsPageTest" />
    </classes>
  </test>
</suite>
 